:root{
    --white:#fff;
    --black: #000;
    --header-top:rgba(76,1,208,255);
    --header-bottom:rgba(98,3,238,255);
    --content-box:rgba(232,232,231,255);
    --header-top-icon:rgba(216,183,253,255);
    width: 414px;
    margin: auto;
}
.btn{
    display: inline-block;
    font-weight: 400;
    color:var(--white);
    text-align: center;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    transition: ease-in-out .3s;
}
.container{
    margin-left: auto;
    background-color:var(--header-top);
    display: inline-flex;
    width: 100%;
    justify-content: flex-end;
    align-self: flex-end;
}
ul{
    padding:0;
    margin:0;
    list-style: none;
}
.navbar{
    display: flex;
    align-items: center;
    transition: ease-in-out .3s;
}
.nav-top{
    background-color: var(--header-top);
    color: var(--header-top-icon);
}
.nav-bottom{
    background-color: var(--header-bottom);
    width: 100%;
    justify-content: space-between;
}
.nav-link a{
    color: var(--white);
    font-size: .8125rem;
    font-weight: 600;
    font-family: "Hind", sans-serif;
    text-transform: uppercase;
    margin-right: 2.5rem;
    line-height: 1.25rem;
}
.nav-right{
    justify-content: flex-end;   
}
a {text-decoration: none;}
.nav-icon{
    height:30px;
}
input[type=text]{
    width:80%;
    margin: 0 auto;
}
input[type=email]{ width: 80%;}
input[type=date]{width: 80%;}
input[type=tel]{
    width: 40%;
    margin-right:10px;
}
.grey-box{
    background-color: var(--content-box);
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    border-bottom: 1px solid black;
}
input{
    line-height: 2rem;
    max-width: 80%;
}
select{
    height:2rem;
    width: 35%;
}
label{
    padding-right: 20px;
    padding-left: 10px;
}
.transparent{
    color:transparent;
    margin-left:-4px;
}
#zipcode{
    margin-left:10px;
    width:35%;
}
#city{
    width: 79%;
}
#email{
    width:79%;
}