:root{
    --white:#fff;
    --black: #000;
    --header-top:rgba(76,1,208,255);
    --header-bottom:rgba(98,3,238,255);
    --content-box:rgba(232,232,231,255);
    max-width: 414px;
    margin: auto;
}
.btn{
    display: inline-block;
    font-weight: 400;
    color:var(--white);
    text-align: center;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    transition: ease-in-out .3s;
}
.container{
    margin-left: auto;
    background-color:var(--header-top);
}
ul{
    padding:0;
    margin:0;
    list-style: none;
}

.navbar{
    display: flex;
    align-items: center;
    background-color: var(--header-bottom);
}
.nav-link a{
    color: var(--white);
    font-size: .8125rem;
    font-weight: 600;
    font-family: "Hind", sans-serif;
    text-transform: uppercase;
    margin-right: 2.5rem;
    line-height: 1.25rem;
}
a {text-decoration: none;}
.nav-icon{
    height:30px;
}
#name{
    width:70%;
}
input{
    align-items: center;
}